<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.hiddify.core</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Library/Application Support/Hiddify/hiddify-core-daemon</string>
        <string>--core-binary</string>
        <string>/Library/Application Support/Hiddify/hiddify-core</string>
        <string>--state-dir</string>
        <string>/Library/Application Support/Hiddify/state</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ThrottleInterval</key>
    <integer>2</integer>
    <key>ProcessType</key>
    <string>Background</string>
    <key>StandardErrorPath</key>
    <string>/var/log/hiddify-core.log</string>
</dict>
</plist>
