PackageIdentifier: 1suo.HiddifyTUI
PackageVersion: @VERSION@
PackageLocale: en-US
Publisher: 1suo
PackageName: hiddify-tui
License: MIT
LicenseUrl: https://github.com/1suo/hiddify-tui/blob/main/LICENSE
ShortDescription: Terminal client for hiddify-core
PackageUrl: https://github.com/1suo/hiddify-tui
ManifestType: defaultLocale
ManifestVersion: 1.10.0
